<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" scanPeriod="60 seconds" debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS, GMT+8}){faint} %clr(%5p) %clr(-){magenta} %clr(%-15.15t){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint}[%clr(%X{x-request-id:--}){magenta}] %m%n%wEx"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
